.projects {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #212228;
    color: white;
  }
  
  .project-cards {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  /* MENU ITEM STYLING */
  
  .project-card {
    border-radius: 15px;
    width: 300px;
    height: 300px;
    margin: 40px;
    box-shadow: 0px 3px 15px white;
    text-align: center;
  }
  .project-card:hover {
    box-shadow: 0px 3px 15px rgb(238, 101, 101);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .project-card .background-image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .project-card h2 {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  @media only screen and (max-width: 1300px) {
    .project-cards {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .project-cards {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .project-cards {
      width: 100%;
    }
    .project-card {
      width: 300px;
      height: 300px;
    }
  }
  